#app {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #dd8717;
    background-color: #f0f2f5; /* Ensure light grey background universally */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f0f2f5; /* Change background color to a light grey */
}
