body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.main-container{
  width: 100%;
  height: 100vh;
  background-color: #d6d6d6;
  background-image: url('https://www.wilsonhomes.com.au/sites/default/files/styles/hero_image/public/My%20project%20-%202023-06-20T095818.329%20%281%29_0.jpg?itok=86RMvcZw');
}

.container{
  background-color: white;
  height: 85vh;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
}

h1{
  font-weight: bold;
  font-size: 30px;
  color: #000000;
  margin-top: 50px;
  display: flex;
  padding-bottom: 100px;
}

.form{
 width: 100%;
  height: 95%;
  margin: 20px;
  display: flex;
}


.image{
  background-image: url('https://img.freepik.com/free-vector/house-building-cartoon-illustration_107791-4119.jpg?semt=ais_hybrid');
  width: 100%;
  height: 95%;
  margin: 20px;
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  margin: 0px 20px;
  width: 100%;
  height: 100%;
  background-color: #d6d6d6;
  border-radius: 20px;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
}

.form-group label{
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.form-group input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.form-group input:focus{
  border-color: #007bff; /* Blue highlight when focused */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-login{
  padding: 10px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;

  
}
.btn-login:hover{
  border-color: #007bff; /* Blue highlight when focused */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.auth-link{
  padding-top: 20px;
  text-decoration: none;
  font-weight: bold;
}
.auth-link a{
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  margin-top: 20px;
}
.error {
  color: #dc3545; /* Red color for error messages */
  font-size: 14px; /* Slightly smaller font size */
  margin-top: 5px; /* Add spacing above the error message */
  font-weight: bold; /* Make the error message bold */
}
