header {
    background-color: rgba(3, 0, 0, 0.8);
    z-index: 99;
    width: 100vw;
    position: fixed;
    transition: .5s ease all;
    color: white;
}



nav{
    display: flex;
    flex-direction: row;
    padding: 12px 0;
    transition: 0.5s ease all;
    width: 90%;
    margin: auto;
    @media (min-width: 1140px) {
        max-width: 1140px;
        
    }
    
    ul,
    .link {
        font-weight: 500;
        color: white;
        list-style: none;
        text-decoration: none;

    }

    li {
        text-transform: uppercase;
        padding: 16px;
        margin-left: 16px;
    }

    .link{
        font-size: 14px;
        transition: .5s ease all;
        padding-bottom: 4px;
        border-bottom:1px solid transparent;

        &:hover{
            color: aqua;
            border-color: aqua
        }
    }

    .Navigation{
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: flex-end;
    }

}